@use "../../../scss/abstracts/functions" as *;

@mixin QuadrantsTitle {
  ul {
    position: relative;
    width: 100%;
    align-items: center;
    flex: 1 0 auto;
  }
  h2 {
    text-align: left;
    flex: 1 0 0;

    strong {
      position: relative;

      &:nth-of-type(2) {
        font-weight: 700;
      }
    }
  }
  button {
    cursor: default;
    transition: opacity 0.8s ease-in-out;
    opacity: 0;
    background: #333;
    border-radius: 3px;
    width: rem(36px);
    height: rem(36px);
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: "Pretendard", sans-serif;
      top: rem(1px);
      font-size: rem(18px);
      color: #fff;
      position: relative;
    }
  }

  &.scale_up {
    button {
      cursor: pointer;
      opacity: 1;
    }
  }
}
