@use "../../../scss/abstracts/functions" as *;

@mixin Filter {
  .filter_container {
    &.fold {
      span.arrow {
        position: absolute;
        top: calc(50% - rem(3px));
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        width: rem(12px);
        height: rem(12px);
        border-bottom: rem(2px) solid #222;
        border-right: rem(2px) solid #222;
      }

      .filter_section {
        max-height: 0;
        padding-bottom: 0;
      }
    }

    span.arrow {
      transition: 0.4s ease-in-out;
      position: absolute;
      top: calc(50% - rem(-3px));
      left: 50%;
      transform: translate(-50%, -50%) rotate(225deg);

      width: rem(12px);
      height: rem(12px);
      border-bottom: rem(2px) solid #222;
      border-right: rem(2px) solid #222;
    }

    .filter_header {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;

      padding: rem(10px) 0;
      margin-bottom: rem(10px);
      h3 {
        text-align: left;
      }
      div {
        position: relative;
        width: rem(32px);
        height: rem(32px);
      }
    }
    .filter_section {
      transition: 0.4s ease-in-out;
      max-height: 300px;
      padding-bottom: rem(20px);
      overflow: hidden;
    }
    ul.filter_section {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;

      li {
        transition: 0.3s ease-in-out;
        width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 3px;

        label {
          display: flex;
          cursor: pointer;
          justify-content: flex-start;
          align-items: center;
          padding: rem(15px) rem(10px);

          span {
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 20px;
            border: 1px solid #ddd;
            margin-right: rem(10px);
            transition: 0.3s ease-in-out;

            &::after {
              content: "";
              transition: 0.3s ease-in-out;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 8px;
              height: 8px;
              border-radius: 10px;
            }
          }

          p {
            line-height: 16px;
          }
        }

        input {
          display: none;

          &:checked + span {
            border-color: #999;
            &::after {
              background: #666;
            }
          }
        }
      }
    }
  }
}
