@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

#wrapper {
  background: #fff;
  width: 100%;
  min-height: 100vh;
  max-width: 425px;
  margin: 0 auto;
  padding-bottom: rem(60px);

  @include respond(768px) {
    max-width: 100%;
  }
  & > section {
    &:first-of-type {
      background: #ddd;
      h1 {
        padding: rem(10px);
      }
    }
  }

  section {
    padding: rem(10px) rem(20px);

    h2 + ul,
    h3 + ul {
      margin-top: rem(10px);
      padding: rem(10px) 0;
    }

    & + section {
      margin-top: rem(10px);
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(5px);
    }
  }

  .product_list {
    margin-top: 0;
    border-top: 6px solid #eee;
    padding-top: rem(30px);

    h2 {
      text-align: left;
    }

    ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      gap: rem(10px);

      li {
        display: flex;
        width: 100%;
        margin: 0 auto;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: rem(5px);
        border: 1px solid #ddd;
        padding: rem(20px) rem(20px);
        gap: rem(20px);

        .thumb_box {
          background: #eee;
          width: rem(80px);
          height: rem(80px);
          position: relative;
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
            animation: wave 1.2s infinite;
          }
        }
        .infor_box {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: rem(5px);

          .title_area {
            width: rem(120px);
            height: rem(20px);
            background: #eee;
            margin-bottom: rem(5px);
            position: relative;
            overflow: hidden;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: -100%;
              height: 100%;
              width: 100%;
              background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
              animation: wave 1.2s infinite;
              animation-delay: 0.3s;
            }
          }
          .desc_area {
            width: rem(180px);
            height: rem(14px);
            background: #eee;
            position: relative;
            overflow: hidden;
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: -100%;
              height: 100%;
              width: 100%;
              background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.6), transparent);
              animation: wave 1.2s infinite;
              animation-delay: 0.3s;
            }

            &:nth-of-type(3) {
              width: rem(160px);
            }
          }
        }
      }
    }
    @keyframes wave {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(200%);
      }
    }
  }
}
