@use "../../../scss/abstracts/functions" as *;

@mixin QuadrantsFilter {
  ul.selected_filter {
    justify-content: flex-start !important;
    height: rem(21px);
    flex: 0 1 0;

    li {
      font-size: rem(11px);
      border-radius: rem(20px);
      padding: rem(5px) rem(10px);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      background: #333;
    }
  }
}
