@use "./abstracts/functions" as *;

@use "base/reset";
@use "base/common";

@use "layout/_layout_main";

@use "../js/components/MachineSelector/MachineSelector.scss" as *;
@use "../js/components/QuadrantsTitle/QuadrantsTitle.scss" as *;
@use "../js/components/QuadrantsFilter/QuadrantsFilter.scss" as *;
@use "../js/components/QuadrantsArea/QuadrantsArea.scss" as *;
@use "../js/components/Filter/Filter.scss" as *;

html {
  scroll-snap-type: y mandatory;
}

#wrapper {
  & > section:first-of-type {
    scroll-snap-align: start;
  }

  @include MachineSelector;

  .quadrants_header {
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: rem(145px);
    border-top: 6px solid #eee;
    margin-top: rem(30px);
    padding-top: rem(30px);
    padding-bottom: rem(20px);

    @include QuadrantsTitle;
    @include QuadrantsFilter;
  }

  @include QuadrantsArea;
  @include Filter;
}
